
<!-- Imagen -->
{%- if card_image -%}
    <div class="media--transparent">
      <img
        src="{{ card_image | image_url: width: 800, height: 400 }}"
        alt="{{ card_image.alt | escape }}"
        class="motion-reduce"
        width="{{ card_image.width }}"
        height="{{ card_image.height }}"
      >
    </div>

    <div class="test h-100">
    </div>
{%- endif -%}
