.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 2rem;
}
.related-products .grid--2-col-tablet-down{
  flex-wrap: nowrap;
  overflow-x: auto;
}
.related-products .full-unstyled-link{
  font-size: 1.8rem;
}
.related-products .card-information{
  margin-top: 0;
}
.related-products .price-item{
  font-size: 1.6rem;
  font-family: var(--font-body-family);
}
@media screen and (max-width: 749px) {
  .related-products .grid--2-col-tablet-down .grid__item{
    width: calc(75% - var(--grid-mobile-horizontal-spacing) / 2);
    max-width: calc(75% - var(--grid-mobile-horizontal-spacing) / 2);
  }
  
}